#header img{
    width: 130px;
}

.text-platzi{
    color: #97c93e !important;
}

.btn-platzi{
    background-color: #97c93e ;
    color: #ffffff;
}

.btn-platzi:hover{
    background-color: #82ad36;
    color: #ffffff;
}

.badges{
    text-align: right;
}

.badge-warning{
    color: #ffffff;
    font-weight: initial;
    font-size: 15px;
    background-color: #38bff5;
}

.badge-dark{
    font-weight: initial;
    font-size: 15px;
    background-color: #2ccc39;
}

#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    color: #ffffff;
}

#carousel .overlay .container,
#carousel .overlay .row{
height: 100%;
}

#place-time{
    background-color: #0f202e;
    color: #ffffff;
}

#place-time img{
    max-width: 100%;
}

#footer{
    background: #19303c;
}

#footer a{
    color: #ffffff;
}
